@font-face {
  font-family: "SamsungOne";
  src: url("./assets/fonts/SamsungOne-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SamsungOne";
  src: url("./assets/fonts/SamsungOne-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SamsungOne", sans-serif;
  background-color: #f8f8f8;
  color: #000000;
  margin: 0 200px 0 200px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  width: 100%;
  height: 56px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
}

.search-bar {
  width: 100%;
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.search-input {
  width: 224px;
  height: 35px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  outline: none;
  font-weight: 400;
  line-height: 22px;
  transition: border-color 0.2s ease;
  border: none;
}

.search-input:focus {
  border-color: #1428a0;
  box-shadow: 0 0 0 3px rgba(20, 40, 160, 0.2);
}

.search-input::placeholder {
  color: #000000;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.filter {
  width: 25%;
}

.input-label {
  font-weight: 700;
  font-size: 18px;
}

.select-filter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("./assets/images/select-polygon.png");
  background-position: right 12px center;
  background-size: 16px;
  background-repeat: no-repeat;

  display: block;
  width: 100%;
  height: 35px;
  padding: 8px 12px;
  background-color: #ffffff;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
  border: none;
}

.items-count {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 15px 0;
}

.list-of-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 20px;
}

.item {
  background-color: #ffffff;
}
